.Message-Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 17px;
    margin-top: 5px;

}



.Message-List {
    background-color: white;
    width: 100%;
    margin-bottom: 40px;
    padding: 15px;
    box-sizing: border-box;
    height: auto;
    display: block;
    position: relative;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}



.Message-List:after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 96.5%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border: 25px solid transparent;
    /* Justerar storleken */
    border-top-color: white;
    border-bottom: 0;
    border-left: 0;

}




.Message-Text,
.Message-Username,
.Message-Date {
    background-color: transparent;
}

.Black-Line {
    display: flex;
    color: black;
    width: 15px;
    height: 2px;
    background-color: black;
    margin-right: 10px;
}

.Black-line--flex {
    font-size: 14px;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 30px 0px 0px 0px;
}

.Message-Date {
    font-size: 14px;
    color: #9e9e9e;
    background-color: transparent;
}


.write-icon-btn {
    cursor: pointer;
    left: auto;
    right: 26px;
    top: auto;
    bottom: 20px;
    cursor: pointer;
    position: fixed;
    background-color: transparent;
    border: 0;
}

.write-icon {
    font-size: 40px;
    background-color: transparent;

}


.icon-trash,
.icon-edit {
    font-size: 20px;
    margin-right: 10px;
    color: black;
    background-color: transparent;
    margin-bottom: 5px;
    cursor: pointer;
}

.flex-icons {
    display: flex;
    background-color: transparent;
    justify-content: space-between;
}

.icon-party {
    background-color: transparent;
}

.search-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    position: relative;
}

.error-message {
    color: rgba(239, 67, 67, 1);
    font-size: 16px;
    background-color: transparent;
    margin-left: 20px;

}


.back-button {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: rgba(239, 67, 67, 1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: rgba(239, 67, 67, 0.637);
}

.No-messages {
    font-size: 20px;
    color: white;
    background-color: transparent;
    margin-top: 30%;

}