.edit-textarea {
    width: 100%;
    height: 100px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.edit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.save-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.edit-message-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
}

.edit-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.cancel-btn {
    background-color: rgb(227, 17, 17);
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}